// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

.dashboard {
  margin: auto;
  max-width: 800px;
  padding-top: 30px;
}

.dashboard__search {
  margin-bottom: 15px;
  margin-top: 30px;
}

.dashboard__view-more {
  display: block;
  font-size: 12px;
  margin-top: 15px;
}
