@import 'base/reset';
@import 'base/colors';
@import 'base/typography';
@import 'base/generic';

@import 'helpers/spacing';

@import 'components/buttons';
@import 'components/form';

.login-container {
  color: $main-black;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

.login-logo {
  font-size: 3em;
}
