{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-gear{% endblock %}

{% block widgetTitle %}Actions{% endblock %}

{% block widgetContent %}
    <div class="kreta-actions">
        <a id="add-issue" href="{{ url('kreta_web_issue_new', {'projectShortName': project.shortName}) }}">
            <i class="fa fa-plus"></i> Create issue
        </a>
    </div>
{% endblock %}
