{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-check-square-o{% endblock %}

{% block widgetTitle %}Project issues{% endblock %}

{% block widgetContent %}
    {% for issue in issues %}
        {% include '@KretaWeb/Issue/blocks/miniIssue.html.twig' with { 'issue' : issue } %}
    {% else %}
        <div class="kreta-mini-issue">
            <p>No issues found</p>
        </div>
    {% endfor %}
{% endblock %}
