// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

$main-black: #222;
$grey: #666;
$main-red: #a00000;
$light-red: #d0475b;
$main-blue: #4d99f0;
$main-green: #67b86a;
$main-yellow: #ffb731;
$dark-grey: #ddd;
$main-grey: #ebebeb;
$light-grey: #fafafa;
$white: #fff;
