<script type="text/html" id="user-invite-template">
    <h2>Invite people</h2>
    <p>An email will be sent to the given address with instructions to start using Kreta</p>
    <form id="user-invite-form">
        <div class="spacer-vertical-1">
            <input type="text" name="firstName" placeholder="First name">
            <input type="text" name="lastName" placeholder="Last name">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="spacer-vertical-1">
            <button type="submit" class="button green">Send invitation</button>
        </div>
    </form>
</script>