<script type="text/html" id="issue-new-template">
    <form id="issue-new" method="POST" action="#">
        <div class="issue-new-actions">
            <button class="button">Cancel</button>
            <button class="button green" type="submit" tabindex="8">Done</button>
        </div>
        <div class="selector selector-project">
            <span class="selector-text" tabindex="1">
                Select project</span>
            <input name="project" type="hidden" value="">
            <div class="selector-choices">
            </div>
        </div>
        <input type="text" class="big" name="title" placeholder="Type your task title" tabindex="2">
        <textarea name="description" placeholder="Type your task description" tabindex="3"></textarea>
        <div class="issue-new-details">
            <div class="selector selector-assignee">
                <span class="selector-text" tabindex="4">Unassigned</span>
                <input name="assignee" type="hidden" value="">
                <div class="selector-choices">
                </div>
            </div>
            <div class="selector selector-priority">
                <span class="selector-text" tabindex="5">Low priority</span>
                <input name="priority" type="hidden" value="0">
                <div class="selector-choices">
                </div>
            </div>
            <div class="selector selector-due-date">
                <span class="selector-text" tabindex="6">No due date</span>
                <input type="hidden" value="">
                <div class="selector-choices">
                    <span class="selector-selectable">No due date</span>
                </div>
            </div>
            <div class="selector selector-type">
                <span class="selector-text" tabindex="7">New feature</span>
                <input name="type" type="hidden" value="">
                <div class="selector-choices">
                </div>
            </div>
        </div>
    </form>
</script>
