<script type="text/html" id="issue-aside-template">
    <h2><%= title %></h2>
    <section class="issue-overview">
        <p><small>Assigned to</small> <strong>Gorka Laucirica</strong></p>
        <p class="half"><small>Due on</small> MAR 18</p>
        <p class="half">New feature</p>
    </section>
    <p class="description"><%= description %></p>
    <img style="margin-top: 20px" src="{{ asset('images/temp-comments.jpg') }}">
</script>
