<script type="text/html" id="issue-aside-template">
    <h2 class="full-issue-title"><%= title %></h2>
    <section class="full-issue-dashboard">
        <p class="full-issue-dashboard-item">
            <img class="user-image" src="<%= assignee.photo.name %>">
            <small>Assigned to</small>
            <strong><%= assignee.first_name %> <%= assignee.last_name %></strong>
        </p>
        <p class="full-issue-dashboard-item half">
            <i class="fa fa-exclamation" style="color: #8e44ad"></i>
            <small>Priority</small> <%= priority.name %>
        </p>
        <p class="full-issue-dashboard-item half">
            <i class="fa fa-coffee" style="color: #e67e22"></i><%= type.name %>
        </p>
    </section>
    <p class="full-issue-description"><%= description %></p>
    {#<footer>
        <nav class="full-issue-tab-container">
            <a href="#" class="full-issue-tab active">
                <img src="{{ asset('images/icons/search.png') }}"/>
                <span class="full-issue-tab-text">Comments</span>
            </a>
            <a href="#" class="full-issue-tab">
                <img src="{{ asset('images/icons/search.png') }}"/>
                <span class="full-issue-tab-text">Repository</span>
            </a>
            <a href="#" class="full-issue-tab">
                <img src="{{ asset('images/icons/search.png') }}"/>
                <span class="full-issue-tab-text">Time tracking</span>
            </a>
            <a href="#" class="full-issue-tab">
                <img src="{{ asset('images/icons/search.png') }}"/>
                <span class="full-issue-tab-text">Following</span>
            </a>
        </nav>
    </footer>#}
</script>
