<script type="text/html" id="issue-details-template">
    <h2><%= title %></h2>
    <img style="margin-top: 20px" src="{{ asset('images/temp-issue-details.jpg') }}">
    <p class="description"><%= description %></p>
    <img style="margin-top: 20px" src="{{ asset('images/temp-comments.jpg') }}">
</script>
