<script type="text/html" id="list-issue-template">
    <div class="list-issue-details">
        <a class="list-issue-title" href="/issue/<%= id %>"><%= title %></a>
    </div>
    <div class="list-issue-icons">
        <img class="list-issue-icon" src="<%= assignee.photo.name %>">
    </div>
</script>