<script type="text/html" id="project-issues-template">
    <div class="page-header">
        <div class="project-image" style="background: #ebebeb"></div>
        <h2 class="page-header-title"><%= name %></h2>
        <div>
            <a class="page-header-link" href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            <a class="page-header-link" href="#"><i class="fa fa-settings"></i>Settings</a>
        </div>
    </div>
    <div class="filter"></div>
    <div class="issues"></div>
</script>
