<script type="text/html" id="kreta-project-issues-template">
    <div class="page-header">
        <img class="project-image" src="{{ asset('images/temp-project-logo.jpg') }}">
        <h2 class="page-header-title">Kreta</h2>
        <div>
            <a class="page-header-link" href="#"><i class="fa fa-dashboard"></i>Dashboard</a>
            <a class="page-header-link" href="#"><i class="fa fa-settings"></i>Settings</a>
        </div>
    </div>
    <div class="filter"></div>
    <div class="issues"></div>
</script>
