<script type="text/html" id="kreta-project-issues-template">
    <div class="project-header">
        <div>
            <img src="{{ asset('images/temp-project-logo.jpg') }}">
            <h2>Kreta</h2>
        </div>
        <div class="project-actions">
            <a href="#"><img src="{{ asset('images/temp-dashboard-icon.jpg') }}">Dashboard</a>
            <a href="#"><img src="{{ asset('images/temp-settings-icon.jpg') }}">Settings</a>
        </div>
    </div>
    <div class="filter">
        <div>
            <a href="" class="selected" data-filter="assignee" data-value="">All</a>
            <a href="" data-filter="assignee" data-value="kristinrstahr@jourrapide.com">Assigned to me</a>
        </div>
        <div>
            <a href="" class="selected" data-filter="priority" data-value="">All priorities</a>
            <a href="" data-filter="priority" data-value="Blocker">Blocker</a>
            <a href="" data-filter="priority" data-value="High">High</a>
            <a href="" data-filter="priority" data-value="Medium">Medium</a>
            <a href="" data-filter="priority" data-value="Low">Low</a>
        </div>
        <div>
            <a href="" class="selected" data-filter="status" data-value="">All statuses</a>
            <a href="" data-filter="status" data-value="open">Open</a>
            <a href="" data-filter="status" data-value="in progress">In progress</a>
            <a href="" data-filter="status" data-value="closed">Closed</a>
        </div>
    </div>
    <div class="issues"></div>
</script>
