<script type="text/html" id="kreta-project-issues-template">
    <div class="kreta-project-header">
        <div class="kreta-project-title">
            <img src="{{ asset('images/temp-project-logo.jpg') }}">
            <h2>Kreta</h2>
        </div>
        <div class="kreta-project-actions">
            <a href="#"><img src="{{ asset('images/temp-dashboard-icon.jpg') }}">Dashboard</a>
            <a href="#"><img src="{{ asset('images/temp-settings-icon.jpg') }}">Settings</a>
        </div>
    </div>
    <div class="kreta-issue-filter">
        <div class="kreta-issue-filter-group">
            <a href="" class="selected">All</a>
            <a href="">Assigned to</a>
            <a href="">Me</a>
        </div>
        <div class="kreta-issue-filter-group">
            <a href="" class="selected">All</a>
            <a href="">Assigned to</a>
            <a href="">Me</a>
        </div>
        <div class="kreta-issue-filter-group">
            <a href="" class="selected">All</a>
            <a href="">Assigned to</a>
            <a href="">Me</a>
        </div>
    </div>
    <div class="issues"></div>
</script>
