{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-folder-open-o{% endblock %}

{% block widgetTitle %}VCS Integration{% endblock %}

{% block widgetContent %}
    <div class="kreta-issue-vcs">
        <div class="vcs-section">
            <h4><i class="fa fa-github"></i>Repository</h4>
            <a href="http://github.com/kreta-io/kreta">kreta-io/kreta</a>
        </div>
        <div class="vcs-section">
            <h4><i class="fa fa-code-fork"></i>Branches</h4>
            {% for branch in branches %}
                <p>{{ branch.name }}</p>
            {% else %}
                <p>No branches found for this issue</p>
            {% endfor %}
        </div>
        <div class="vcs-section">
            <h4><i class="fa fa-code"></i>Commits</h4>
            {% for commit in commits %}
                <p>{{ commit.sha | slice(0, 10)}} - {{ commit.message }}</p>
            {% else %}
                <p>No commits found for this issue</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
