// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../../../base/colors';

.task-show {
  position: relative;
}

.task-show__title {
  background: $light-grey;
  color: $main-black;
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

.task-show__transitions {
  margin-top: 30px;

  .button {
    margin-right: 10px;
  }
}

.task-show__description {
  background: $light-grey;
  color: $main-black;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: 30px;
  max-height: 200px;
  overflow: hidden;
}

.task-show__fields {
  margin-top: 30px;
}
