//Color
$mainGreen: #00803b;
$mainWhite: white;
$bgGrey: #F0F0F0;
$borderGrey: #E2E2E2;
$mainBlack: black;
$softBlack: lighten($mainBlack, 60%);

//Icon item colors
$iconRed: #a00000;
$iconGreen: #00803b;
$iconYellow: #c6a400;
$iconBlue: #000089;

//Foundation buttons
$button-bg-color: $mainGreen;

//Sizes
$standardRadius: 3px;
