; This file is part of the Kreta package.
;
; (c) Beñat Espiña <benatespina@gmail.com>
; (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
;
; For the full copyright and license information, please view the LICENSE
; file that was distributed with this source code.

root = true

[*]
end_of_line = LF

[{*.php, *.yml}]
indent_style = space
indent_size = 4

[*.{js, scss}]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2

[composer.json]
indent_style = space
indent_size = 4
