#### Symfony ####
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/sessions/.gitkeep
web/uploads/images/*
!web/uploads/images/.gitkeep
web/config.php
web/css
web/bundles
web/images
web/js
/vendor/
/bin/

#### Composer ####
/composer.phar

#### PHPSpec ####
/coverage
coverage.xml

#### Vagrant ####
.vagrant
