# This file belongs to Kreta.
# The source code of application includes a LICENSE file
# with all information about license.
#
# @author benatespina <benatespina@gmail.com>
# @author gorkalaucirica <gorka.lauzirika@gmail.com>

.sass-cache
.bower-*
bin
composer.lock
composer.phar
coverage
node_modules
npm-debug.log
phpspec-coverage.xml
vendor
web
