# This file belongs to Kreta.
# The source code of application includes a LICENSE file
# with all information about license.
#
# @author benatespina <benatespina@gmail.com>
# @author gorkalaucirica <gorka.lauzirika@gmail.com>

language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

env:
    - SYMFONY_VERSION=2.3.*
    - SYMFONY_VERSION=2.5.*
    - SYMFONY_VERSION=2.7.x-dev
    - SYMFONY_VERSION=dev-master

install:
    - sudo apt-get update > /dev/null
    - sudo apt-get install -y --force-yes apache2 libapache2-mod-php5 php5-curl php5-mysql php5-intl
    - sudo sed -i -e "s,/var/www,$(pwd)/web,g" /etc/apache2/sites-available/default
    - sudo /etc/init.d/apache2 restart

before_script:
    - export MINK_EXTENSION_PARAMS='base_url=http://localhost/app_test.php'
    - composer self-update
    - composer require symfony/symfony:${SYMFONY_VERSION}

    - app/console doctrine:database:create --env=test
    - app/console doctrine:schema:create --env=test
    - app/console cache:warmup --env=test
    - sleep 5

script:
    - bin/phpspec run -fpretty

    - bin/behat --stop-on-failure --suite=issue
    - bin/behat --stop-on-failure --suite=project
    - bin/behat --stop-on-failure --suite=notification
    - bin/behat --stop-on-failure --suite=api

after_script:
    - bin/coveralls -v

cache:
    directories:
        - $COMPOSER_CACHE_DIR

matrix:
    allow_failures:
        - php: hhvm
        - env: SYMFONY_VERSION=2.7.x-dev
        - env: SYMFONY_VERSION=dev-master
