# This file is part of the Kreta package.
#
# (c) Beñat Espiña <benatespina@gmail.com>
# (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

sudo: false

language: php

php:
    - 7.1

env:
    - COMPOSER_OPTIONS="--no-interaction --prefer-source"

install:
    - nvm install 7
    - nvm use 7
    - composer self-update
    - sh etc/bash/install.sh
    - npm install -g yarn

before_script:
    - phpenv config-rm xdebug.ini

script:
    - sh etc/bash/tests.sh

cache:
    yarn: true
    directories:
        - node_modules
        - $COMPOSER_CACHE_DIR

matrix:
    fast_finish: true
