// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>


@import 'base/reset';
@import 'base/colors';
@import 'base/typography';

@import 'components/buttons';
@import 'components/filter';
@import 'components/selectors';

@import 'layout/aside';
@import 'layout/main-content';
@import 'layout/main-menu';

@import 'views/create-issue';
@import 'views/issue-aside';
@import 'views/issue-list';
@import 'views/project-list';

.project-header {
  padding: 30px 0;
  position: relative;

  h2 {
    display: inline-block;
    font-size: 1.3em;
    margin-left: 15px;
    text-transform: uppercase;
  }

  .project-actions {
    position: absolute;
    right: 0;
    top: 35px;

    a {
      color: $main-black;
      font-size: .8em;
      text-decoration: none;

      img {
        margin: 0 10px 0 30px;
      }
    }
  }
}

