// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>


@import 'base/reset';
@import 'base/colors';
@import 'base/typography';

@import 'components/buttons';
@import 'components/selectors';

@import 'layout/aside';
@import 'layout/main-content';
@import 'layout/main-menu';

@import 'views/create-issue';
@import 'views/issue-details';
@import 'views/project-list';

#kreta-content {
  width: 100%;

  > div {
    margin-left: 80px;
    transition-duration: .3s;

    &.left-open {
      margin-left: 360px;
    }

    &.right-open {
      margin-right: 450px;
    }

    > .kreta-content-container {
      margin: auto;
      max-width: 900px;
      padding: 0 20px;
    }
  }
}

.kreta-project-header {
  padding: 30px 0;
  position: relative;

  .kreta-project-title {

    h2 {
      display: inline-block;
      font-size: 1.3em;
      margin-left: 15px;
      text-transform: uppercase;
    }
  }

  .kreta-project-actions {
    position: absolute;
    right: 0;
    top: 35px;

    a {
      color: $mainBlack;
      font-size: .8em;
      text-decoration: none;

      img {
        margin: 0 10px 0 30px;
      }
    }
  }
}

.kreta-issue-filter {
  margin-bottom: 50px;

  .kreta-issue-filter-group {
    display: inline-block;
    margin-right: 30px;

    a {
      color: $mainBlack;
      font-size: .75em;
      font-weight: lighter;
      margin: 0 10px;
      text-decoration: none;

      &.selected {
        border-bottom: 1px solid $mainGreen;
        font-weight: bold;
      }
    }
  }
}

.kreta-list-issue {
  border-top: 1px solid #ebebeb;
  padding: 20px 0;
  position: relative;

  a {
    color: black;
    text-decoration: none;
  }

  p {
    font-size: .9em;
    line-height: 1.2em;
    margin-top: 10px;
    opacity: .5;
  }

  .issue-details {
    margin: 0 100px 0 10px;
  }

  .issue-icons {
    height: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100px;

    img {
      border-radius: 50%;
      margin-top: -20px;
      position: absolute;
      top: 50%;
      width: 40px;
    }
  }
}
