<header id="main-header" class="row">
    <div class="small-6 column">
        <a href="{{ url('kreta_web_dashboard') }}">
            {% image '@KretaWebBundle/Resources/public/img/logo.png' %}
                <img class="logo" src="{{ asset_url }}"/>
            {% endimage %}
        </a>
    </div>
    <div class="kreta-user-menu small-6 columns">
        <a href=""><i class="fa fa-plus"></i></a>
        <a href=""><i class="fa fa-wrench"></i></a>
        <img class="kreta-user-image" src="/images/gorka.png">
    </div>
</header>
