// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../../../node_modules/lin3s-css-grid/scss/variables';
@import '../base/colors';

$content-width: 900px;
$content-right-width: 450px;
$content-transition: .3s;

.content {
  flex: 1 1 100%;
  height: calc(100vh - 60px);

  > div {
    display: flex;
    height: 100%;
  }
}

.content__middle {
  flex: 1;
  overflow-y: auto;
  padding: 0 40px;
  transition-duration: $content-transition;
}

.content__middle-content {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;
  width: 100%;
}

.content__middle-content--centered {
  margin: auto;
}

.content__right {
  align-items: flex-end;
  background-color: $light-grey;
  border-left: 1px solid $main-grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  overflow: auto;
  position: absolute;
  right: 0;
  transition: width $content-transition;
  width: 0;
}

.content__right--visible {
  width: 100%;
}

.content__right-content {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-right-width;
  min-height: 100%;
  padding: 30px;
}

@media #{$large-up} {
  .content {
    flex: 1;

    > div {
      height: 100vh;
    }
  }

  .content__right {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: initial;
  }

  .content__right-content {
    width: $content-right-width;
  }

  .content__right--visible {
    width: $content-right-width;
  }

  .content-right-layout__cross {
    display: none;
  }
}
