// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

.notification-layout {
  bottom: 30px;
  left: 110px;
  position: fixed;
  width: 350px;

  .notification {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
