// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../settings';
@import 'compass/css3';

.kreta-mini-issue {
  border-top: 1px solid $borderGrey;
  position: relative;
  @include transition(background .5s);
  &:hover {
    background: $mainWhite;
    .issue-actions {
      @include opacity(1);
      z-index: 10;
      bottom: 10px
    }
    .issue-images {
      @include opacity(0);
    }
  }
  h3 {
    margin: .5em 1em;
    color: $mainGreen;
  }
  .issue-footer {
    padding: 0 1em 1em 1em;
  }
  .issue-actions {
    position: absolute;
    right: 10px;
    bottom: 0px;
    @include opacity(0);
    @include transition-duration(.5s);
    a {
      @include transition-duration(.5s);
      color: $borderGrey;
      padding: 0 .5em;
      &.view-issue {
        &:hover {
          color: $mainGreen;
        }
      }
      &.edit-issue {
        &:hover {
          color: $sunflower;
        }
      }
      &.comments-issue {
        &:hover {
          color: $wisteria;
        }
      }
    }
  }
  .issue-images {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
    @include transition-duration(.5s);
    img {
      display: inline-block;
      width: 40px;
      @include border-radius($standardRadius);
    }
  }
}
