// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../settings';
@import 'compass/css3';

.kreta-mini-issue {
  border-top: 1px solid $borderGrey;
  position: relative;
  min-height: 100px;
  h3 {
    margin: .5em 1em;
    @include transition(color .5s);
    &:hover {
      color: $mainGreen;
    }
  }
  .kreta-icon-item {
    position: absolute;
    height: 30px;
    right: -10px;
    &.kreta-type-icon {
      top: 10px;
    }
    &.kreta-priority-icon {
      top: 50px;
    }
    > span {
      display: none;
    }
  }
  .issue-footer {
    margin: 0 .5em;
    img {
      width: 40px;
      @include border-radius($standardRadius);
    }
    a {
      padding: 0 .5em;
      color: $borderGrey;
      &:hover {
        color: $mainGreen;
      }
    }
  }
}

@media #{$medium-up} {
  .kreta-mini-issue .kreta-icon-item > span {
    display: block;
    margin-left: .5em;
    position: absolute;
    left: -150px;
    top: 0;
    width: 130px;
    background: white;
    text-align: right;
    line-height: 30px;
  }
}
