# This file is part of the Kreta package.
#
# (c) Beñat Espiña <benatespina@gmail.com>
# (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

default:
    formatters:
        pretty:
            verbose: true
            paths: true
            snippets: false
    suites:
        oauth:
            paths:
                features: src/Kreta/Bundle/CoreBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\CommandContext
            filters:
                tags: "@oauth"
        authentication:
            paths:
                features: src/Kreta/Bundle/WebBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WebBundle\Behat\Context\WebContext
            filters:
                tags: "@authentication"
        invitation:
            paths:
                features: src/Kreta/Bundle/UserBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WebBundle\Behat\Context\WebContext
            filters:
                tags: "@invitation"
        issue:
            paths:
                features: src/Kreta/Bundle/IssueBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\MediaBundle\Behat\Context\MediaContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\IssuePriorityContext
                - Kreta\Bundle\IssueBundle\Behat\Context\IssueContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\LabelContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusTransitionContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@issue"
        label:
            paths:
                features: src/Kreta/Bundle/ProjectBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\LabelContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@label"
        participant:
            paths:
                features: src/Kreta/Bundle/ProjectBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\MediaBundle\Behat\Context\MediaContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@participant"
        issuePriority:
            paths:
                features: src/Kreta/Bundle/ProjectBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\IssuePriorityContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@issuePriority"
        project:
            paths:
                features: src/Kreta/Bundle/ProjectBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\MediaBundle\Behat\Context\MediaContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\IssuePriorityContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\LabelContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@project"
        notification:
            paths:
                features: src/Kreta/Bundle/NotificationBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\NotificationBundle\Behat\Context\NotificationContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@notification"
        status:
            paths:
                features: src/Kreta/Bundle/WorkflowBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\IssuePriorityContext
                - Kreta\Bundle\IssueBundle\Behat\Context\IssueContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusTransitionContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@status"
        statusTransition:
            paths:
                features: src/Kreta/Bundle/WorkflowBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\IssuePriorityContext
                - Kreta\Bundle\IssueBundle\Behat\Context\IssueContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusTransitionContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@statusTransition"
        profile:
            paths:
                features: src/Kreta/Bundle/UserBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\MediaBundle\Behat\Context\MediaContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
            filters:
                tags: "@profile"
        user:
            paths:
                features: src/Kreta/Bundle/UserBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\MediaBundle\Behat\Context\MediaContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\CoreBundle\Behat\Context\CommandContext
            filters:
                tags: "@user"
        workflow:
            paths:
                features: src/Kreta/Bundle/WorkflowBundle
            contexts:
                - Kreta\Bundle\CoreBundle\Behat\Context\OauthContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\WorkflowContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ProjectContext
                - Kreta\Bundle\IssueBundle\Behat\Context\IssueContext
                - Kreta\Bundle\UserBundle\Behat\Context\UserContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusContext
                - Kreta\Bundle\WorkflowBundle\Behat\Context\StatusTransitionContext
                - Kreta\Bundle\ProjectBundle\Behat\Context\ParticipantContext
            filters:
                tags: "@workflow"
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
            browser_name: firefox
            show_auto: false
        Behat\Symfony2Extension:
             kernel:
                 path: tests/functional/fixtures/app/AppKernel.php
                 class: AppKernel
        Behat\WebApiExtension:
            base_url: http://kreta.test:8000/app.php
