# This file is part of the Kreta package.
#
# (c) Beñat Espiña <benatespina@gmail.com>
# (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

.htaccess
/parameters.yml
/src/Kreta/IdentityAccess/Infrastructure/Ui/Uploads
!/src/Kreta/IdentityAccess/Infrastructure/Ui/Uploads/images/.gitkeep
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/jwt
/var/jwt/*
!var/jwt/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
/vendor
