# This file is part of the Kreta package.
#
# (c) Beñat Espiña <benatespina@gmail.com>
# (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

parameters:
    env(IDENTITY_ACCESS_HOST):           'http://identityaccess.localhost'

    identity_access_secret:              12e54860e3fbbbebd0aa659fa8bc554c202298ac # Your own secret with http://nux.net/secret
    identity_access_delivery_address:    kr.dev.mailing.001@gmail.com

    identity_access_database_host:       db
    identity_access_database_port:       3306
    identity_access_database_name:       kreta_identity_access
    identity_access_database_user:       root
    identity_access_database_password:   root

    identity_access_mailer_transport:    smtp
    identity_access_mailer_host:         127.0.0.1
    identity_access_mailer_user:         kr.dev.mailing.001@gmail.com
    identity_access_mailer_password:     kreta12345
    identity_access_mailer_port:         465
    identity_access_mailer_encryption:   ssl

    identity_access_jwt_key_pass_phrase: kretataskmanager

    identity_access_rabbitmq_host:       rabbitmq
    identity_access_rabbitmq_port:       5672
    identity_access_rabbitmq_user:       kreta
    identity_access_rabbitmq_password:   kreta

    mailer_user:                         "info@kreta.io"    # Needed for build the bengor-user service
