// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.simple-header {
  color: $main-black;
  display: flex;
  padding: 5px;
}

.simple-header__actions {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.simple-header__action,
.simple-header__action-key--escape {
  font-size: 10px;
}

.simple-header__action-key {
  font-size: 15px;
  font-weight: $font-weight-bold;
  margin-right: 5px;
}
