# This file belongs to Kreta.
# The source code of application includes a LICENSE file
# with all information about license.
#
# @author benatespina <benatespina@gmail.com>
# @author gorkalaucirica <gorka.lauzirika@gmail.com>

parameters:
    database_driver:                    pdo_mysql
    database_host:                      127.0.0.1
    database_port:                      ~
    database_name:                      kreta
    database_user:                      root
    database_password:                  root

    mailer_transport:                   smtp
    mailer_host:                        127.0.0.1
    mailer_user:                        ~
    mailer_password:                    ~
    mailer_port:                        ~
    mailer_dev_delivery_address:        me@localhost
    mailer_encryption:                  tls

    locale:                             en
    secret:                             23j12b3k54fgbpo23k2jb12ouh677khb456j

    oauth.web.client_secret:            dummy-client-secret

    oauth.bitbucket.client_id:          client-id
    oauth.bitbucket.client_secret:      client-secret

    oauth.github.client_id:             client-id
    oauth.github.client_secret:         client-secret

    users.image.uploader.filesystem:    kreta_image_users
    projects.image.uploader.filesystem: kreta_image_projects

    locale:                             en
    secret:                             23j12b3k54fgbpo23k2jb12ouh677khb456j
