// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../settings';

.kreta-mini-project {
  .title-container {
    border-top: 1px solid $border-grey;
    transition-duration: .5s;
    &:hover {
      background: $main-white;
    }
    img {
      width: 50px;
      display: inline-block;
      margin: 10px;
      border-radius: $standard-radius;
    }
    h3 {
      margin: 0;
      display: inline-block;
    }
  }
}
