<!DOCTYPE html>
<html>
<head>
    <title>Kreta - Modern task manager for software development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% if app.debug %}
            <link href="{{ asset('css/app.css') }}" media="screen" rel="stylesheet" type="text/css"/>
        {% else %}
            <link href="{{ asset('css/app.min.css') }}" media="screen" rel="stylesheet" type="text/css"/>
        {% endif %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
