<!DOCTYPE html>
<html>
<head>
    <title>Kreta - Modern task manager for software development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets filter="compass"
                              "@KretaWebBundle/Resources/public/scss/app.scss"
                              output='css/app.css' %}
            <link href="{{ asset_url }}" media="screen" rel="stylesheet" type="text/css"/>
        {% endstylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
{% block body %}
    {% include 'KretaWebBundle:blocks:header.html.twig' %}
    <div class="kreta-content row">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="kreta-flash error">
                <i class="fa fa-times-circle-o"></i>
                <span>{{ flashMessage }}</span>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="kreta-flash success">
                <i class="fa fa-check-circle-o"></i>
                <span>{{ flashMessage }}</span>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% javascripts '@KretaWebBundle/Resources/public/js/*' output='js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
