# This file is part of the Kreta package.
#
# (c) Beñat Espiña <benatespina@gmail.com>
# (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

mysql:
    root_pass: root
    kreta_pass: kreta
rabbitmq:
    admin_user: admin
    admin_password: admin
security:
    deploy_user: kreta
    root_password: change-this
    github_users_allowed:
        - someuser
        - otheruser
kreta:
    domains:
        identity_access: identityaccess.kreta.io
        task_manager: taskmanager.kreta.io
        composite_ui: kreta.io
