@import '../settings';
@import 'compass/css3';

.kreta-icon-item {
  &.red {
    color: $iconRed;
    i {
      border: 1px solid $iconRed;
    }
  }
  &.yellow {
    color: $iconYellow;
    i {
      border: 1px solid $iconYellow;
    }
  }
  &.green {
    color: $iconGreen;
    i {
      border: 1px solid $iconGreen;
    }
  }
  &.blue {
    color: $iconBlue;
    i {
      border: 1px solid $iconBlue;
    }
  }
  i {
    background: $mainWhite;
    padding: 0 .5em;
    line-height: 30px;
    display: inline-block;
    @include border-radius($standardRadius);
  }
  span {
    margin-left: .5em;
  }
}
