// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

.form-reset-password__claim {
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto 15px;
  max-width: 250px;
  text-align: center;
}
