{% extends "KretaWebBundle::layout.html.twig" %}

{% block content %}
    <div class="medium-8 column">
        {% include 'KretaWebBundle:Issue/blocks:issueDetails.html.twig' with { 'issue': issue} %}
        {{ render(url('kreta_web_comment_list', {'issueId': issue.id} )) }}
    </div>
    <div class="medium-4 column">
        {% if is_granted('edit', issue) %}
            {% include 'KretaWebBundle:Issue/blocks:issueActions.html.twig' with { 'issue': issue } %}
        {% endif %}
        {% include 'KretaWebBundle:Issue/blocks:issueVcs.html.twig' with { 'issue': issue } %}
    </div>
{% endblock %}
