{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-book{% endblock %}

{% block widgetTitle %}{{ project.name }}{% endblock %}

{% block widgetContent %}
    <div class="kreta-project-details">
        <p>Project info coming soon</p>
    </div>
{% endblock %}
