; This file belongs to Kreta.
; The source code of application includes a LICENSE file
; with all information about license.
;
; @author benatespina <benatespina@gmail.com>
; @author gorkalaucirica <gorka.lauzirika@gmail.com>

; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF

[*.php]
indent_style = space
indent_size = 4
