@import '../variables/grid';

@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

@function media-query-by-range($range, $type: 'up') {
  @if ($type == 'up' & & lower-bound($range) != 0) {
    @return '#{$screen} and (min-width:#{lower-bound($range)}px)';
  } @else if ($type == 'only') {
    @return '#{$screen} and (min-width:#{lower-bound($range)}px) and (max-width:#{upper-bound($range)}px)';
  } @else {
    @warn 'Type #{$type} not supported';
  }
}

$grid: (
  'adaptive': (
      ($small-range, $adaptive-row-small-width),
      ($medium-range, $adaptive-row-medium-width),
      ($large-range, $adaptive-row-large-width),
      ($xlarge-range, $adaptive-row-xlarge-width),
      ($xxlarge-range, $adaptive-row-xxlarge-width)
  )
) !default;

%grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

%grid__row--fluid {
  @extend %grid__row;
  max-width: $fluid-row-width + $column-gutter;
}

%grid__row--fluid-one-column {
  @extend %grid__row--fluid;
  padding: 0 $column-gutter;
}

%grid__column {
  padding-left: #{$column-gutter / 2};
  padding-right: #{$column-gutter / 2};
}

@mixin grid__row($selector, $grid-type: 'fluid') {
  @if ($grid-type == 'fluid') {
    #{$selector} {
      @extend %grid__row;
      @extend %grid__row--fluid;
    }
  } @else {
    @if (map-has-key($grid, $grid-type)) {
      #{$selector} {
        @extend %grid__row;
      }
      @each $option in map_get($grid, $grid-type) {
        @media #{media-query-by-range(nth($option,1))} {
          #{$selector} {
            max-width: nth($option, 2) + $column-gutter;
          }
        }
      ;
      }
    } @else {
      @warn '#{$grid-type} not found in $grid map, check _grid-settings.scss';
    }
  }
}

@mixin grid__column($columns) {
  display: flex;
  flex: 1 1 #{100% / $column-count * $columns};
  max-width: #{100% / $column-count * $columns};
  padding: 0 #{$column-gutter / 2};
  width: 100%;
}

@mixin grid-column-for-media-query($name, $cols, $media-query) {
  @media #{$media-query} {
    @each $col in $cols {
      .row__column--#{$name}-#{$col} {
        flex: 1 1 #{100% / $column-count * $col};
        max-width: #{100% / $column-count * $col};
      }
    }
  }
}

@mixin grid__column--push($columns, $column-count: 12) {
  margin-left: calc(#{100% / $column-count * $columns});
}
