// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

$font-open-sans: 'Open Sans', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
