// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';
@import '../variables/typography';

$body-font-family: $font-family-open-sans;
$body-font-size: 14px;
$heading-font-weight: $font-weight-bold;
$input-font-family: $font-family-open-sans;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; // Prevents mobile menu been shown when is hidden
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

a {
  color: $main-green;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: darken($main-green, 10%);
  }
}

p {
  margin: .5em 0;
}

strong {
  font-weight: bold;
}

small {
  font-size: .7em;
}

i {
  margin: 0 .25em;
}

input,
textarea {
  border: 0;
  font-family: $input-font-family;
  font-size: 1.3em;
  font-weight: lighter;
  width: 100%;

  &:focus {
    outline: 0;
  }
}
