<script type="text/html" id="user-interaction-template">
    <img src="<%= written_by.photo.name %>">
    <div class="details">
        <span class="time"><%= created_at %></span>
        <h5><%= written_by.first_name %> <%= written_by.last_name %></h5>
        <p><%= description %></p>
    </div>
</script>
