.left-aside,
.right-aside {
  > div {
    height: 100%;
    overflow-y: scroll;
    padding: 25px;
    position: fixed;
    top: 0;
    transition-duration: .3s;
    z-index: 20;
  }
}

.left-aside {
  > div {
    background: $white;
    border-right: 1px solid $main-grey;
    left: -240px;
    width: 280px;

    &.visible {
      left: 80px;
    }
  }
}

.right-aside {
  > div {
    background: $light-grey;
    right: -450px;
    width: 450px;

    &.visible {
      right: 0;
    }
  }
}
