// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

$content-width: 900px;
$content-right-width: 450px;
$content-transition: .3s;

.content {
  width: 100%;
}

.content__middle {
  margin-left: 90px;
  padding: 20px calc(50% - #{$content-width / 2});
  transition-duration: $content-transition;
}

.content__middle--right-open {
  padding: 20px calc(50% - #{$content-width / 2} + #{$content-right-width / 2})
           20px calc(50% - #{$content-width / 2} - #{$content-right-width / 2});
}

.content__right {
  background-color: $light-grey;
  border-left: 1px solid $main-grey;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  right: -$content-right-width;
  top: 0;
  transition: right $content-transition;
  width: $content-right-width;
}

.content__right--visible {
  right: 0;
}
