#kreta-content {
  width: 100%;

  > div {
    margin-left: 80px;
    transition-duration: .3s;

    &.left-open {
      margin-left: 360px;
    }

    &.right-open {
      margin-right: 450px;
    }

    > .kreta-content-container {
      margin: auto;
      max-width: 900px;
      padding: 0 20px;
    }
  }
}
