.menu {
  background: #3f434a;
  color: $white;
  height: 100%;
  left: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 80px;
  z-index: 30;
}

.menu-logo {
  margin: 10px 15px;
}

.menu-user-image {
  border-radius: 50%;
  padding: 10px;
  width: 70px;
}

.menu-user-name {
  color: $main-grey;
  font-size: .7em;
}


.menu-action {
  color: $white;
  display: block;
  font-size: 1.3em;
  padding: 20px;
  position: relative;
  text-decoration: none;
}

.menu-notification-bubble {
  background: #eb4d4f;
  border-radius: 50%;
  color: $white;
  font-size: .8em;
  height: 20px;
  left: 50%;
  line-height: 20px;
  margin-left: -10px;
  position: absolute;
  top: 15px;
  width: 20px;
}
