{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}medium-8 column{% endblock %}

{% block widgetIcon %}fa-check-square-o{% endblock %}

{% block widgetTitle %}My open issues{% endblock %}

{% block widgetContent %}
    {% for issue in issues %}
        {% include '@KretaWeb/Issue/blocks/miniIssue.html.twig' with { 'issue' : issue } %}
    {% else %}
        <div class="kreta-widget-message">
            <p>No open issues found</p>
        </div>
    {% endfor %}
{% endblock %}
