// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
@import '../base/colors';

$content-width: 900px;
$content-right-width: 450px;
$content-transition: .3s;

.content {
  flex: 1;

  > div {
    display: flex;
    height: 100vh;
  }
}

.content__middle {
  flex: 1;
  padding: 0 40px;
  overflow-y: scroll;
  transition-duration: $content-transition;
}

.content__middle-content {
  max-width: $content-width;
  margin: auto;
  width: 100%;
}

.content__right {
  background-color: $light-grey;
  border-left: 1px solid $main-grey;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  transition: width $content-transition;
  width: 0;
}

.content__right--visible {
  width: $content-right-width;
}

.content__right-content {
  padding: 40px;
  width: $content-right-width;
}

@media screen and (min-width: 1024px) {
  .content__right {
    position: initial;
  }
}
