// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import "../settings";

.kreta-widget form {
  padding: 1em;
  border-top: 1px solid $borderGrey;
  .form-actions {
    text-align: right;
    input[type="submit"] {
      margin: 1em 0 0 1em;
    }
  }
}
