// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import "../settings";

header#main-header {
  height: 80px;
  background: $mainWhite;
  max-width: none;
  img.logo {
    padding: 20px 10px;
    height: 80px;
  }
  .kreta-user-menu {
    padding: 0;
    text-align: right;
    > a {
      color: $mainGreen;
      padding: 0 1em;
      line-height: 80px;
      i {
        margin-right: .5em;
      }
    }
    .user-container {
      padding-right: 1em;
      display: inline-block;
      position: relative;
      color: $mainGreen;
      &:hover {
        > span {
          position: relative;
          top: -10px;
        }
        .user-actions {
          bottom: 15px;
          opacity: 1;
        }
      }
      img {
        height: 50px;
        margin: 15px 15px 15px 0;
        border-radius: $standardRadius;
      }
      span {
        position: relative;
        top: 0;
        transition-duration: .5s;
      }
      .user-actions {
        position: absolute;
        bottom: 0;
        left: 70px;
        opacity: 0;
        transition-duration: .5s;
        a {
          padding-right: .5em;
        }
      }
    }
  }
}
