// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../settings';

.kreta-landing {
  background: url('/bundles/kretaweb/img/landing-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  .kreta-landing-overlay {
    height: 100%;
    width: 100%;
    background: rgba($main-green, 0.5);
    color: $main-white;
    display: table;
    .kreta-landing-container {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1 {
        font-size: 1.5em;
      }
      a {
        border-radius: $standard-radius;
        margin: 0 1em;
        &.github {
          background: #444;
          &:hover {
            background: #2b2b2b;
          }
        }
        &.bitbucket {
          background: #205081;
          &:hover {
            background: #163758;
          }
        }
        i {
          font-size: 1.5em;
          padding-right: 1em;
        }
        span {
          line-height: 1.3em;
        }
      }
    }
  }
}
