#kreta-menu-main {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  background: #3f434a;
  color: white;
  padding: 5px;
  z-index: 50;
  > img {
    margin: 10px 15px;
  }
  .kreta-menu-user {
    text-align: center;
    span {
      color: #e6e6e7;
      font-size: .9em;
    }
    img {
      border-radius: 50%;
      padding: 10px;
      width: 50px;
    }
  }
  .kreta-menu-actions {
    text-align: center;
    a {
      position: relative;
      display: block;
      color: white;
      text-decoration: none;
      padding: 20px;
      font-size: 1.3em;
      .kreta-notification-bubble {
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -10px;
        background: #eb4d4f;
        color: white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        border-radius: 50%;
      }
    }
  }
}
