// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.menu {
  background: $main-black;
  color: $white;
  height: 100%;
  padding: 5px;
  text-align: center;
  width: 80px;
}

.menu-logo {
  margin: 10px 15px;
}

.menu-user-image {
  border-radius: 50%;
  padding: 10px;
  width: 70px;
}

.menu-user-name {
  color: $main-grey;
  font-size: .7em;
}

.menu-action {
  color: $white;
  display: block;
  font-size: 1.3em;
  padding: 20px;
  position: relative;
  text-decoration: none;
}

.menu-notification-bubble {
  background: $light-red;
  border-radius: 50%;
  color: $white;
  font-size: .8em;
  height: 20px;
  left: 50%;
  line-height: 20px;
  margin-left: -10px;
  position: absolute;
  top: 15px;
  width: 20px;
}
