// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.main-menu {
  align-items: center;
  background: $main-black;
  color: $white;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 5px;
  text-align: center;
  width: 80px;
}

.main-menu__logo {
  height: 70px;
  fill: $white;
  width: 50px;
}
.main-menu__actions {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.main-menu__action {
  cursor: pointer;
  fill: $white;
  height: 30px;
  margin: 25px 0;
  width: 30px;
}

.main-menu__action--green {
  fill: $main-green;
}

.main-menu__action--red {
  fill: $light-red;
}

.main-menu__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu__username {
  font-size: 10px;
  margin: 10px 0;
}

.main-menu__notification {
  position: relative;
}

.main-menu__notification-bubble {
  background: $light-red;
  border-radius: 50%;
  color: $white;
  font-size: .8em;
  height: 20px;
  left: 50%;
  line-height: 20px;
  margin-left: -10px;
  position: absolute;
  top: 15px;
  width: 20px;
}
