// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import "../settings";
@import "compass/css3";

.kreta-widget {
  margin-bottom: 1em;
  .kreta-widget-content {
    background: $mainGrey;
    h2 {
      padding: .5em 1em;
      background: white;
      margin: 0;
      color: $mainGreen;
      background: $mainWhite;
      i {
        margin-right: .5em;
      }
    }
    .kreta-actions {
      border-top: 1px solid $borderGrey;
      @include transition-duration(.5s);
      a {
        display: block;
        text-align: center;
        padding: .5em 0;
        &:hover {
          background: $mainWhite;
        }
      }
      hr {
        border: 0;
        border-top: 1px solid $borderGrey;
        margin: 0;
      }
    }
  }
  .kreta-widget-message p {
    padding: 1em 0;
    margin: 0;
    text-align: center;
  }
}
