// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../settings';

.kreta-widget {
  margin-bottom: 1em;
  .kreta-widget-content {
    background: $main-grey;
    h2 {
      padding: .5em 1em;
      background: white;
      margin: 0;
      color: $main-green;
      background: $main-white;
      i {
        margin-right: .5em;
      }
    }
    .kreta-actions {
      border-top: 1px solid $border-grey;
      transition-duration: .5s;
      a {
        display: block;
        text-align: center;
        padding: .5em 0;
        &:hover {
          background: $main-white;
        }
      }
      hr {
        border: 0;
        border-top: 1px solid $border-grey;
        margin: 0;
      }
    }
  }
  .kreta-widget-message p {
    padding: 1em 0;
    margin: 0;
    text-align: center;
  }
}
