<form action="{{ url('kreta_web_comment_new',
       {'projectShortName': issue.project.shortName,
        'issueNumber': issue.numericId}) }}"
      method="post" class="kreta-issue-comment-add">
    {% image '@KretaWebBundle/Resources/public/img/user.jpg' %}
        <img src="{{ asset_url }}">
    {% endimage %}
    <div class="textarea-container">
        {{ form_row(form.description) }}
        {{ form_end(form) }}
        <input type="submit" class="button tiny" value="Send">
    </div>
</form>
