{% extends 'KretaWebBundle:blocks:widget.html.twig' %}

{% block widgetClass %}{% endblock %}

{% block widgetIcon %}fa-gear{% endblock %}

{% block widgetTitle %}Actions{% endblock %}

{% block widgetContent %}
    <div class="kreta-actions">
        <a href="{{ url('kreta_web_issue_edit', {id: issue.id}) }}"><i class="fa fa-pencil"></i> Edit issue</a>
        <hr noshade>
        {% for transition in issue.status.transitions %}
        <a href="{{ url('kreta_web_issue_change_status', {issueId: issue.id, statusId: transition.id}) }}">
            Mark as <b>{{ transition.name }}</b>
        </a>
        {% endfor %}
    </div>
{% endblock %}
