{% extends 'KretaWebBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="small-12 medium-8 large-6 small-centered column">
        <div class="small-6 small-centered column text-center">
            <a href="{{ url('kreta_web_homepage') }}">
                {% image '@KretaWebBundle/Resources/public/img/logo.png' %}
                <img class="logo" src="{{ asset_url }}"/>
                {% endimage %}
            </a>
        </div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    </div>
</div>
{% endblock %}
