<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
>
    <php>
        <server name="EXPECTED_RESPONSE_DIR" value="../../../../../../tests/Integration/Expected/Responses" />
        <server name="KERNEL_CLASS" value="Kreta\TaskManager\Infrastructure\Symfony\Framework\AppKernel" />
        <server name="KERNEL_CLASS_PATH" value="../src/Kreta/TaskManager/Infrastructure/Symfony/Framework/AppKernel" />
    </php>

    <testsuites>
        <testsuite name="Task manager Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
