// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

$main-black: #3e3e3e;
$grey: #3f434a;
$main-red: #a00000;
$light-red: #eb4d4f;
$main-blue: #4d99f0;
$main-green: #74c743;
$main-grey: #ebebeb;
$light-grey: #fafafa;
$white: #fff;
