// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../../base/colors';

.list-issue {
  border-top: 1px solid $main-grey;
  padding: 20px 0;
  position: relative;
  transition-duration: .4s;

  &.highlight {
    background: $main-grey;
  }
}

.list-issue-details {
  margin: 0 100px 0 10px;
}

.list-issue-title {
  color: $main-black;
  text-decoration: none;
}

.list-issue-icons {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
}

.list-issue-icon {
  font-size: .8em;
}
