// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../../base/colors';

.project-settings__participants {
  .user-preview {
    border: 1px solid $main-grey;
    float: left;
    width: 33.333%;
  }
}

.project-settings__not-participating {
  height: 100%;
  overflow-y: scroll;
}

.user-selector-invite-form {
  background: $white;
  bottom: -40px;
  display: flex;
  height: 40px;
  position: fixed;
  width: 450px;

  &.visible {
    bottom: 0;
  }
}

.user-selector-invite-form-email {
  flex: 1;
  text-align: center;
  width: auto;
}

.user-selector-invite-form-submit {
  border-radius: 0;
  min-width: 0;
  width: 100px;
}
