// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../../../variables/colors';

.organization-show {
  .projects + .members {
    border-top: 1px solid $main-grey;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
  }
}

