<script type="text/html" id="notification-template">
    <div class="notification-icon">
        <i class="fa fa-exclamation-circle"></i>
    </div>
    <p class="notification-message"><%= message %></p>
    <i class="notification-hide fa fa-times"></i>
</script>
