<script type="text/html" id="project-preview-template">
    <span class="project-preview__title" href="/project/<%= id %>">
        <%= name %>
    </span>
    <div class="project-preview__shortcuts">
        <% shortcuts.forEach(function(shortcut) { %>
        <img class="project-preview__shortcut"
             src="/bundles/kretaweb/svg/<%= shortcut.icon %>.svg">
        <% }) %>
    </div>
</script>
