<script type="text/html" id="user-selector-item-template">
    <div class="image-preview project-settings-participant-selector">
        <img class="image-preview-image user-image"
             src="<%= photo.name %>">
        <div class="image-preview-container">
        <span class="image-preview-header">
            <%= first_name %> <%= last_name %>
        </span>
            <span class="image-preview-subheader"></span>
        </div>
        <div class="image-preview-actions">
        <span data-tooltip-text="Add to project"
              data-tooltip-position="left">
            <i class="fa fa-plus"></i>
        </span>
        </div>
    </div>
</script>
