// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../../base/colors';

.issue-new-actions {
  position: absolute;
  right: 0;
  z-index: 10;
}

.issue-new {
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.selector.selector-project {
  font-size: .8em;

  > span {
    line-height: 35px;
    padding: 0;
  }

  > div {
    top: 0;
    z-index: 20;
  }
}

.issue-new-details {
  border-top: 1px solid $main-grey;
  font-size: .9em;

  > div {
    float: left;
    font-weight: lighter;
    text-align: center;
    width: 25%;
  }
}
