// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../../../base/colors';

.issue-show__title {
  color: $main-black;
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.3em;
  margin: 0;
}

.issue-show__description {
  color: $main-black;
  font-weight: lighter;
  line-height: 1.3em;
  margin-top: 30px;
  max-height: 200px;
  overflow: hidden;
}

.issue-show__fields {
  margin-top: 30px;
}

.issue-show__save {
  margin: 30px 0;
  text-align: center;
}
