// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../../../base/colors';

.full-issue-title {
  color: $main-black;
  font-size: 1.8em;
  font-weight: lighter;
  line-height: 1.3em;
  margin: 0;
}

.full-issue-description {
  color: $main-black;
  font-weight: lighter;
  line-height: 1.3em;
  margin-top: 30px;
  max-height: 200px;
  overflow: hidden;
}

.full-issue-dashboard {
  margin-top: 30px;
  overflow: hidden;
}

.full-issue-dashboard-item {
  border: 1px solid $main-grey;
  color: $main-black;
  font-size: .8em;
  line-height: 3.5em;
  margin: 0;
  text-align: center;
  width: 100%;

  &.half {
    float: left;
    width: 50%;
  }
}
