// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.button {
  background: none;
  border: 1px solid;
  border-radius: 3px;
  color: $main-grey;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  min-width: 100px;
  outline: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .3s;
}

.button--green {
  background-color: $main-green;
  border: 1px solid $main-green;
  color: $white;
  transition-property: background;

  &:hover,
  &:focus {
    background-color: darken($main-green, 10%);
  }
}

.button--small {
  font-size: 10px;
  min-width: 0;
}

.button--icon {
  border-radius: 50%;
  height: 25px;
  min-width: 0;
  padding: 0;
  width: 25px;
}

.button--full {
  width: 100%;
}
