// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';
@import '../variables/typography';

.button {
  background: none;
  border: 1px solid;
  border-radius: 3px;
  color: $main-grey;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: $font-weight-bold;
  min-width: 100px;
  outline: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .3s;

  &[disabled],
  &:disabled {
    opacity: .3;
  }
}

.button--blue {
  background-color: $main-blue;
  border: 1px solid $main-blue;
  color: $white;
  transition-property: background;

  &:hover,
  &:focus {
    background-color: darken($main-blue, 10%);
  }
}

.button--green {
  background-color: $main-green;
  border: 1px solid $main-green;
  color: $white;
  transition-property: background;

  &:hover,
  &:focus {
    background-color: darken($main-green, 10%);
  }
}

.button--yellow {
  background-color: $main-yellow;
  border: 1px solid $main-yellow;
  color: $white;
  transition-property: background;

  &:hover,
  &:focus {
    background-color: darken($main-yellow, 10%);
  }
}

.button--red {
  background-color: $main-red;
  border: 1px solid $main-red;
  color: $white;
  transition-property: background;

  &:hover,
  &:focus {
    background-color: darken($main-red, 10%);
  }
}

.button--small {
  font-size: 9px;
  min-width: 0;
}

.button--icon {
  border-radius: 50%;
  height: 25px;
  min-width: 0;
  padding: 0;
  width: 25px;
}
