// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';
@import '../variables/grid';

.card-minimal {
  align-items: center;
  color: $main-black;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  transition: background-color .3s;
}

.card-minimal__title {
  color: inherit;
  flex: 1;
  font-size: 16px;
  padding-right: $column-gutter;
  text-align: left;
  transition: color .3s;
}
