// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';

$form-input-file-image-size: 150px;

.form-input-file {
  cursor: pointer;
  display: flex;
  height: $form-input-file-image-size;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: opacity .3s ease-in-out;
  width: $form-input-file-image-size;

  &:hover {
    opacity: .7;
  }
}

.form-input-file__input {
  display: none;
}

.form-input-file__background,
.form-input-file__image {
  border-radius: 50%;
  height: $form-input-file-image-size;
  position: absolute;
  width: $form-input-file-image-size;
}

.form-input-file__background {
  align-items: center;
  background: $main-black;
  display: flex;
  justify-content: center;
}
