// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

$grid-type: 'fluid';

$row-padding: 15px;
$row-width: 1290;

$column-count: 12;
$column-gutter: 30px;

$small-cols: 3, 6, 9, 12;
$medium-cols: 4, 6, 8, 12;
$large-cols: 2, 4, 6, 8, 12;
$xlarge-cols: 2, 4, 6, 8, 12;

$small-breakpoint: 640;
$medium-breakpoint: 1024;
$large-breakpoint: 1279;
$xlarge-breakpoint: 1440;

@import '../../../node_modules/lin3s-css-grid/scss/row';
