// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';

$notification-height: 50px !default;

.notification {
  align-items: center;
  background: $main-green;
  color: $white;
  display: flex;
  height: $notification-height;
  overflow: hidden;
  position: absolute;
  transform: translateY(-#{$notification-height});
  transition: transform .5s;
  width: 100%;

  .icon {
    fill: $white;
  }
}

.notification--visible {
  transform: translateY(0);
}

.notification--error {
  background: $main-red;
}

.notification__icon {
  align-items: center;
  background: rgba($main-black, .2);
  display: flex;
  height: $notification-height;
  justify-content: center;
  line-height: $notification-height;
  margin-right: 15px;
  width: $notification-height;

  .icon {
    height: 25px;
    width: 25px;
  }
}

.notification__message {
  flex: 1;
}

.notification__close {
  cursor: pointer;
  height: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 15px;
}
