// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';

.notification {
  align-items: stretch;
  color: $white;
  display: flex;
  position: relative;
  transition: transform .5s;
  width: 100%;

  .icon {
    fill: $white;
  }
}

.notification--success {
  background: lighten($main-green, 7);

  .notification__icon {
    background-color: $main-green;
  }

  .notification__close {
    background: $main-green;
  }
}

.notification--error {
  background: $light-red;

  .notification__icon {
    background-color: $main-red;
  }

  .notification__close {
    background: $main-red;
  }
}

.notification__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  width: 50px;

  .icon {
    height: 25px;
    width: 25px;
  }
}

.notification__message {
  flex: 1;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.notification__close {
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, .15);
  cursor: pointer;
  height: 24px;
  padding: 7px;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
}
