// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

.page-header {
  align-items: center;
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;

  .thumbnail {
    margin-right: 15px;
  }
}

.page-header__title {
  flex: 1;
  text-transform: uppercase;
}

.page-header__actions {
  align-items: center;
  display: flex;

  > *:not(:last-child) {
    margin-right: 15px;
  }
}
