// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

$resource-preview-padding: 15px;

.resource-preview {
  align-items: center;
  display: flex;
  position: relative;
  transition: background-color .3s;
}

.resource-preview--child {
  padding-left: #{$resource-preview-padding * 2};

  .resource-preview__title {
    font-style: italic;
    padding: 5px;
  }

  .resource-preview__shortcuts {
    opacity: 1;
  }
}

.resource-preview--grand-child {
  padding-left: #{$resource-preview-padding * 4};

  .resource-preview__title {
    color: $main-green;
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
  }
}

.resource-preview--selected {
  background-color: $main-green;
  outline: 0;

  .resource-preview__title {
    color: $white;
  }

  .resource-preview__shortcuts {
    opacity: 1;
  }
}

.resource-preview__header {
  padding-bottom: 15px;
  padding-top: 15px;
}

.resource-preview__filter {
  background: $main-grey;
  padding: 15px;

  &::placeholder {
    color: rgba($grey, .4);
  }
}

.resource-preview__list {
  height: 300px;
  overflow-y: scroll;
  text-align: left;
}

.resource-preview__title {
  color: $main-black;
  flex: 1;
  font-size: 16px;
  padding: $resource-preview-padding;
  transition: color .3s;
}

.resource-preview__shortcuts {
  opacity: 0;
  padding: $resource-preview-padding;
}

.resource-preview__shortcut {
  fill: $white;
  height: 25px;
  margin-right: 10px;
  opacity: .3;
  transition: opacity .2s;
  width: 25px;
}

.resource-preview__shortcut--selected {
  opacity: 1;
}
