// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';
@import '../variables/typography';

$table-header-padding: 10px;
$table-header-color: $main-green;
$table-header-margin-bottom: 10px;
$table-item-border-color: $main-grey;
$table-item-margin-bottom: 10px;
$table-item-padding: 20px;

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__header {
  border-bottom: 0;
  color: $table-header-color;
  margin-bottom: $table-header-margin-bottom;
  margin-left: -5px;
  margin-top: -#{$table-header-padding};
  padding: $table-header-padding;
}

.table__item {
  border: 1px solid $table-item-border-color;
  margin-bottom: $table-item-margin-bottom;
  padding: $table-item-padding;
}

.table__item--hidden {
  border: 0;
}
