// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../variables/colors';

.tab {
  color: $main-grey;
  display: inline-block;
  margin: 0 -2px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  transition-duration: .4s;
  width: 25%;

  &:hover,
  &.active {
    color: $main-black;
  }
}

.tab-text {
  display: block;
  font-size: .75em;
  margin-top: 5px;
}

.tab-content {
  display: none;
  padding: 20px;

  &.visible {
    display: block;
  }
}
