// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.task-field {
  align-items: center;
  color: $main-black;
  display: flex;
  font-size: 14px;
  height: 46px;
  justify-content: center;
  width: 100%;
}

.task-field--half {
  float: left;
  width: 50%;
}

.task-field--left {
  justify-content: flex-start;
  padding-left: 10px;
}

.task-field--selected {
  background: $light-grey;
}

.task-field__image {
  margin-right: 10px;
}

.task-field__icon {
  height: 20px;
  width: 20px;
}

.task-field__label {
  font-size: 9px;
  margin-right: 5px;
}

.task-field__value {
  font-weight: bold;
}
