// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

$main-black: #3e3e3e;
$grey: #3f434a;
$main-red: #a00000;
$light-red: #eb4d4f;
$main-blue: #4d99f0;
$main-green: #74c743;
$main-grey: #ebebeb;
$light-grey: #fafafa;
$white: #fff;
