// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import 'colors';
@import 'typography';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: .5em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

a {
  color: $main-green;
  text-decoration: none;
}

p {
  font-size: .9em;
  margin: .5em 0;
}

strong {
  font-weight: bold;
}

small {
  font-size: .8em;
}

i {
  margin: 0 .25em;
}
