<script type="text/html" id="project-list-template">
    <div class="simple-header">
        <div class="simple-header-filters">
            <span class="simple-header-filter">Sort by <strong>priority</strong></span>
        </div>
        <div class="simple-header-actions">
            <a href="/project/new" class="button green small">New</a>
        </div>
    </div>
    <ul class="project-preview-list"></ul>
</script>
