<script type="text/html" id="project-new-template">
    <form id="project-new" method="POST" action="#">
        <div class="issue-new-actions">
            <button class="button">Cancel</button>
            <button class="button green" type="submit" tabindex="3">Done</button>
        </div>
        <input type="text" class="big" name="name" placeholder="Type your project name" tabindex="1">
        <input type="text" name="shortName" placeholder="Type a short name for your project" tabindex="2">
    </form>
</script>
