.button {
  background: none;
  border: 1px solid;
  border-radius: 3px;
  color: $ebebeb;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  min-width: 100px;
  outline: 0;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  transition-duration: .3s;

  &.green {
    border: 1px solid $main-green;
    color: $main-green;

    &:focus,
    &:hover {
      background: $main-green;
      border: 1px solid $main-green;
      color: $white;
    }
  }

  &.small {
    font-size: .7em;
    min-width: 0;
  }
}
