.filter {
  margin-bottom: 50px;
}

.filter-group {
  display: inline-block;
  margin-right: 30px;
}

.filter-item {
  color: $main-black;
  font-size: .75em;
  font-weight: lighter;
  margin: 0 10px;
  text-decoration: none;

  &.selected {
    border-bottom: 1px solid $main-green;
    font-weight: bold;
  }
}
