// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';
@import '../base/typography';

input,
textarea,
select {
  appearance: none;
  border: 0;
  border-radius: 0;
  color: $main-black;
  font-family: inherit;
  font-size: inherit;
  outline: 0;

  // Remove background yellow color Chrome and Safari
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
  }
}

textarea {
  min-height: 200px;
}

%form-label-up {
  font-size: 14px;
  top: 0;
  transform: translateY(0);
}

.form-input {
  position: relative;
}

.form-input--error {
  .form-input__label {
    color: $main-red;
    @extend %form-label-up;
  }

  .form-input__bar,
  .form-input__bar:after {
    background: $main-red;
  }
}

.form-input--success {
  .form-input__label {
    color: $main-green;
  }

  .form-input__bar:after {
    background: $main-green;
  }
}

.form-input__input {
  font-size: 20px;
  padding: 20px 0;

  &:focus {
    ~ .form-input__bar:after {
      width: 100%;
    }
  }

  &:focus,
  &.form-input__input--filled {
    ~ .form-input__label {
      @extend %form-label-up;
    }
  }
}

.form-input__checkbox {
  border: 1px solid $main-green;
  cursor: pointer;
  height: 15px;
  margin-left: 0;
  margin-right: 8px;
  min-width: 15px;
  width: 15px;

  &:checked {
    background-color: $main-green;
    border: 1px solid $main-green;
  }
}

.form-input__label {
  color: $grey;
  font-size: 25px;
  font-weight: lighter;
  left: 0;
  position: absolute;
  top: 20px;
  transition: top .2s, font-size .2s;
}

.form-input__bar {
  background: $main-grey;
  bottom: 10px;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;

  &:after {
    background: $main-black;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width .2s;
    width: 0;
  }
}
