// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

@import '../../../../node_modules/froala-editor/css/froala_editor.css';
@import '../../../../node_modules/froala-editor/css/plugins/image.css';

.fr-toolbar {
  background-color: $light-grey;
  border: 1px solid $main-grey;
  box-shadow: none;

  &.fr-top {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
  }
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  border-bottom: 1px solid $main-grey;
  border-left: 1px solid $main-grey;
  border-right: 1px solid $main-grey;
  box-shadow: none;
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
  margin: 0;

  &.fr-active {
    background-color: $main-grey;
    color: $main-green;
  }

  &:focus {
    background-color: $main-grey;
  }

  > i {
    margin: 10px;
    width: 10px;
  }
}
