// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.issue-field {
  align-items: center;
  color: $main-black;
  display: flex;
  font-size: 14px;
  height: 60px;
  justify-content: center;
  width: 100%;
}

.issue-field--half {
  float: left;
  width: 50%;
}

.issue-field--selected {
  background: $light-grey;
}

.issue-field__image {
  margin-right: 10px;
}

.issue-field__label {
  font-size: 9px;
  margin-right: 5px;
}

.issue-field__value {
  font-weight: bold;
}
