// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.issue-preview {
  align-items: center;
  border-top: 1px solid $main-grey;
  cursor: pointer;
  display: flex;
  height: 64px;
  padding: 0 15px;
  position: relative;
  transition-duration: .4s;
}

.issue-preview--highlight {
  background: $light-grey;
}

.issue-preview__title {
  color: $main-black;
  flex: 1;
  font-size: 14px;
  text-decoration: none;
}

.issue-preview__icons {
  align-items: center;
  display: flex;
  position: relative;
}

.issue-preview__priority {
  height: 42px;
  left: -14px;
  position: absolute;
  top: -5px;
  width: 60px;
}

.issue-preview__priority--background {
  opacity: .2;
}
