$notification-height: 50px !default;

.notification {
  align-items: center;
  background: $main-green;
  color: $white;
  display: flex;
  height: 0;
  overflow: hidden;

  &.visible {
    height: $notification-height;
  }

  &.error {
    background: $main-red;
  }
}

.notification-icon {
  background: rgba($main-black, .2);
  height: $notification-height;
  line-height: $notification-height;
  margin-right: .5em;
  text-align: center;
  width: $notification-height;
}

.notification-message {
  flex: 1;
}

.notification-hide {
  cursor: pointer;
  margin: 0 .5em;
}
