// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.project-preview__filter {
  background: $main-grey;
  padding: 15px;

  &::placeholder {
    color: rgba($grey, .4);
  }
}

.project-preview__list {
  height: 300px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}

.project-preview {
  align-items: center;
  display: flex;
  padding: 15px;
  position: relative;
  transition: background-color .3s;
}

.project-preview--selected {
  background-color: $main-green;
  outline: 0;

  .project-preview__title {
    color: $white;
  }

  .project-preview__shortcuts {
    opacity: 1;
  }
}

.project-preview__title {
  color: $main-black;
  flex: 1;
  font-size: 16px;
  transition: color .3s;
}

.project-preview__shortcuts {
  opacity: 0;
}

.project-preview__shortcut {
  fill: $white;
  height: 25px;
  margin-right: 10px;
  opacity: .3;
  transition: opacity .2s;
  width: 25px;
}

.project-preview__shortcut--selected {
  opacity: 1;
}
