.kreta-selector {
  cursor: pointer;
  position: relative;

  > span {
    display: block;
    outline: 0;
    padding: 30px 0;
  }

  > div {
    background: $white;
    border: 1px solid #e1e1e1;
    display: none;
    position: absolute;
    top: 20px;
    width: 100%;

    span {
      display: block;
      padding: 12px;
      transition-duration: .2s;

      &:hover,
      &.selected {
        background: $main-green;
        color: $white;
      }
    }
  }

  &.visible > div {
      display: block;
  }
}
