$tooltip-arrow-height: 10px;

[data-tooltip-text] {
  position: relative;
}

.tooltip {
  background: $main-black;
  border-radius: 3px;
  color: $white;
  font-size: 12px;
  height: 20px;
  margin-top: -10px;
  padding: .3em .6em;
  position: absolute;
  top: 50%;
  transition-duration: .5s;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba($main-black, 0);
    border-width: $tooltip-arrow-height / 2;
  }

  //Position modifiers
  &.left {
    right: 100%;

    &:after {
      top: 50%;
      left: 100%;

      border-left-color: $main-black;
      border-width: $tooltip-arrow-height / 2;
      margin-top: -$tooltip-arrow-height / 2;
    }

    &.visible {
      right: calc(100% + 10px);
    }
  }

  &.right {
    left: 100%;

    &:after {
      top: 50%;
      right: 100%;
      border-right-color: $main-black;
      margin-top: -$tooltip-arrow-height / 2;
    }

    &.visible {
      left: calc(100% + 10px);
    }
  }
}