<div class="kreta-widget {% block widgetClass '' %}">
    <div class="kreta-widget-content">
        <h2><i class="fa {% block widgetIcon '' %}"></i>{% block widgetTitle '' %}</h2>
        {% block widgetContent %}{% endblock %}
    </div>
</div>
