// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../../../base/colors';

.issue-show__title {
  background: $light-grey;
  color: $main-black;
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.issue-show__transitions {
  margin-top: 30px;

  .button {
    margin-right: 10px;
  }
}

.issue-show__description {
  background: $light-grey;
  color: $main-black;
  font-size: 12px;
  font-weight: lighter;
  line-height: 20px;
  margin-top: 30px;
  max-height: 300px;
  overflow-y: scroll;
  padding-left: 10px;

  &:focus {
    border: 1px solid $main-grey;
    outline: none;
  }
}

.issue-show__fields {
  margin-top: 30px;

  .issue-field {
    border: 1px solid $main-grey;
  }

  .selector__selected {
    background: $light-grey;
  }
}

.issue-show__save {
  margin: 30px 0;
  text-align: center;
}
