<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kreta</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'/>
    <link href="css/app.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="application">
    <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Loading</p>
</div>
<script id="base-layout-view-template" type="text/html">
    <nav class="menu">
        <img class="menu-logo" src="images/logo.png">
        <div class="menu-user">
        </div>
        <div>
            <a class="menu-action" href="/">
                <img src="images/icons/notification.png">
                <span class="menu-notification-bubble">4</span>
            </a>
            <a class="menu-action projects" href="#" data-tooltip-text="Project list" data-tooltip-position="right">
                <img src="images/icons/projects.png">
            </a>
            <a class="menu-action" href="/profile/edit" data-tooltip-text="Edit profile" data-tooltip-position="right">
                <img src="images/icons/lists.png">
            </a>
            <a class="menu-action" href="/logout" data-bypass data-tooltip-text="Logout" data-tooltip-position="right" title="Logout">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </nav>
    <div class="left-aside"></div>
    <div id="kreta-content">
        <div>
            <div class="notification-container"></div>
            <div class="kreta-content-container"></div>
        </div>
    </div>
    <div class="right-aside"></div>
    <div class="modal-region"></div>
    <div class="modal-overlay"></div>
</script>
<script type="text/html" id="kreta-menu-user-template">
    <div class="menu-user">
        <img class="menu-user-image" src="<%= photo.name %>">
        <span class="menu-user-name">@<%= username %></span>
    </div>
</script>

{% include 'KretaWebBundle:Default/templates:projectIssues.html.twig' %}
{% include 'KretaWebBundle:Default/templates:userInteraction.html.twig' %}
{% include 'KretaWebBundle:Default/templates:listIssue.html.twig' %}
{% include 'KretaWebBundle:Default/component:filter.html.twig' %}
{% include 'KretaWebBundle:Default/component:notification.html.twig' %}
{% include 'KretaWebBundle:Default/component:projectPreview.html.twig' %}
{% include 'KretaWebBundle:Default/component:userSelector.html.twig' %}
{% include 'KretaWebBundle:Default/component:userSelectorItem.html.twig' %}
{% include 'KretaWebBundle:Default/templates:issue/new.html.twig' %}
{% include 'KretaWebBundle:Default/templates:issue/show.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/list.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/new.html.twig' %}
{% include 'KretaWebBundle:Default/templates:project/settings.html.twig' %}
{% include 'KretaWebBundle:Default/templates:user/edit.html.twig' %}
{% include 'KretaWebBundle:Default/templates:user/invite.html.twig' %}

    <script src="js/vendor.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
