// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../settings';

.kreta-flash {
  margin: 0 1em 1em;
  color: white;
  padding: 1em;
  border-radius: 3px;
  text-align: center;
  &.success {
    color: $main-green;
  }
  &.error {
    color: $pumpkin;
  }
}
