// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../settings';
@import 'compass/css3';

.kreta-icon-item {
  color: $mainWhite;
  padding: 0em 1em;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  @include border-radius(3px);
  font-size: .8em;
  margin-right: .5em;
  &.red {
    background: $iconRed;
  }
  &.yellow {
    background: $iconYellow;
  }
  &.green {
    background: $iconGreen;
  }
  &.blue {
    background: $iconBlue;
  }
  &.purple {
    background: $iconPurple;
  }
  i {
    color: $mainWhite;
    display: inline-block;
  }
  span {
    padding-left: .5em;
  }
}
