.list-issue {
  border-top: 1px solid $main-grey;
  padding: 20px 0;
  position: relative;
  transition-duration: .4s;

  &.highlight {
    background: $main-grey;
  }
}

.list-issue-details {
  margin: 0 100px 0 10px;
}

.list-issue-title {
  color: $main-black;
  text-decoration: none;
}

.list-issue-icons {
  height: 100%;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list-issue-icon {
  font-size: .8em;
}
