.issue-new-actions {
  position: absolute;
  right: 0;
  z-index: 10;
}

.issue-new {
  position: relative;
  width: 100%;
  padding-top: 100px;
}

.selector.selector-project {
  font-size: .8em;
  > span {
    line-height: 35px;
    padding: 0;
  }
  > div {
    top: 0;
    z-index: 20;
  }
}

.issue-new-details {
  border-top: 1px solid #e1e1e1;
  font-size: .9em;
  > div {
    float: left;
    width: 25%;
    text-align: center;
    font-weight: lighter;
  }
}
