#issue-details {
  box-sizing: border-box;
  padding: 45px;

  h2 {
    color: $main-black;
    font-size: 1.8em;
    font-weight: lighter;
    line-height: 1.3em;
  }

  p.description {
    color: $main-black;
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 1.4em;
    margin-top: 30px;
  }
}
