// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../base/typography';

input,
textarea {
  border: 0;
  font-family: $font-open-sans;
  font-size: 1.3em;
  font-weight: lighter;
  padding: .5em 0;
  width: 100%;

  &:focus {
    outline: 0;
  }

  &.big {
    font-size: 2em;
  }
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

textarea {
  min-height: 200px;
}
