// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

.user-image,
.project-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;

  &.big {
    height: 70px;
    width: 70px;
  }
}
