.image-preview {
  border: 1px solid $main-grey;
  display: flex;
  float: left;
  font-size: 14px;
  padding: 2em 1em;
  position: relative;
  width: 33.333%;
}

.image-preview-image {
  margin: 0 1em;
}

.image-preview-actions {
  position: absolute;
  top: .5em;
  right: .5em;
}

.image-preview-container {
  flex: 1;
}

.image-preview-header {
  display: block;
  margin: 0.5em 0;
}

.image-preview-subheader {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: 0.5em 0;
}

.image-preview-content {

}
