// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

.image-preview {
  display: flex;
  float: left;
  font-size: 14px;
  padding: 2em 1em;
  position: relative;
}

.image-preview-image {
  margin: 0 1em;
}

.image-preview-actions {
  cursor: pointer;
  position: absolute;
  right: .5em;
  top: .5em;
}

.image-preview-container {
  flex: 1;
}

.image-preview-header {
  display: block;
  margin: .5em 0;
}

.image-preview-subheader {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: .5em 0;
}
