// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

@import '../base/colors';

$notification-height: 50px !default;

.notification {
  align-items: center;
  background: $main-green;
  color: $white;
  display: flex;
  height: 0;
  margin-left: 80px;
  overflow: hidden;
  transition-duration: .5s;
}

.notification--visible {
  height: $notification-height;
}

.notification--error {
  background: $main-red;
}

.notification-icon {
  background: rgba($main-black, .2);
  height: $notification-height;
  line-height: $notification-height;
  margin-right: .5em;
  text-align: center;
  width: $notification-height;
}

.notification-message {
  flex: 1;
}

.notification-hide {
  cursor: pointer;
  margin: 0 .5em;
}
