// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

.page-header {
  align-items: center;
  display: flex;
  padding: 30px 0;
  position: relative;
}

.page-header-title {
  flex: 1;
  font-size: 1.3em;
  margin-left: 15px;
  text-transform: uppercase;
}

.page-header-link {
  color: $main-black;
  font-size: .8em;
  padding-left: 1em;
  text-decoration: none;
}
