.project-preview-list {
  max-height: 300px;
  overflow-y: scroll;
}

.project-preview {
  padding: 1em 0;
  position: relative;
}

.project-preview-link {
  color: $main-black;
  font-size: 1.1em;
  text-decoration: none;
}
