.project-preview__list {
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
}

.project-preview {
  align-items: center;
  display: flex;
  padding: 1em;
  position: relative;
}

.project-preview--selected {
  background: $main-green;
  outline: 0;

  .project-preview__title {
    color: $white;
  }

  .project-preview__shortcuts {
    opacity: 1;
  }
}

.project-preview__title {
  color: $main-black;
  font-size: 1.1em;
  flex: 1;
}

.project-preview__shortcuts {
  opacity: 0;
}

.project-preview__shortcut {
  fill: $white;
  margin: 0 .5em;
  transition-duration: .2s;
  height: 25px;
  width: 25px;
  opacity: .3;
}

.project-preview__shortcut--selected {
  opacity: 1;
}




