.selector {
  cursor: pointer;
  font-weight: lighter;
  position: relative;

  &.visible > .selector-choices {
    display: block;
  }

  &:hover .selector-selectable.selected {
    background: $white;
    color: $main-black;

    &:hover {
      background: $main-green;
      color: $white;
    }
  }
}

.selector-text {
  display: block;
  outline: 0;
  padding: 30px 0;
}

.selector-choices {
  background: $white;
  border: 1px solid $main-grey;
  display: none;
  position: absolute;
  top: 20px;
  width: 100%;
}

.selector-selectable {
  display: block;
  padding: 12px;
  transition-duration: .2s;

  &:hover,
  &:focus,
  &.selected {
    background: $main-green;
    color: $white;
    outline: 0;
  }
}
