// This file belongs to Kreta.
// The source code of application includes a LICENSE file
// with all information about license.
//
// @author benatespina <benatespina@gmail.com>
// @author gorkalaucirica <gorka.lauzirika@gmail.com>

.user-preview {
  display: flex;
  font-size: 14px;
  padding: 15px 20px;
  position: relative;
  width: 100%;
}

.user-preview__image {
  margin: 0 1em;
}

.user-preview__actions {
  cursor: pointer;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}

.user-preview__container {
  flex: 1;
}

.user-preview__header {
  display: block;
  margin: .5em 0;
}

.user-preview__subheader {
  display: block;
  font-size: .8em;
  font-weight: lighter;
  margin: .5em 0;
}
