// This file is part of the Kreta package.
//
// (c) Beñat Espiña <benatespina@gmail.com>
// (c) Gorka Laucirica <gorka.lauzirika@gmail.com>
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.

@import '../base/colors';

$user-image-size: 32px;
$user-image-bg: #ddd;

.thumbnail {
  background: $user-image-bg;
  border-radius: 50%;
  display: inline-block;
  height: $user-image-size;
  line-height: $user-image-size;
  text-align: center;
  width: $user-image-size;
}

.thumbnail--big {
  height: 70px;
  line-height: 70px;
  width: 70px;
}

.thumbnail__char {
  color: $white;
  font-size: 13px;
}
