<!DOCTYPE html>
<html>
<head>
    <title>Kreta - Modern task manager for software development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'/>
        <link href="{{ asset('css/login.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="login-container spacer-2">
        <p class="login-logo spacer-vertical-half">
            <strong>kreta</strong>.io
        </p>
        {% block content %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
{% endblock %}
</body>
</html>
