<script type="text/html" id="issue-new-template">
    <form id="issue-new" method="POST" action="#">
        <div class="issue-new-actions">
            <button class="button">Cancel</button>
            <button class="button green" type="submit" tabindex="7">Done</button>
        </div>
        <select name="project" tabindex="1" style="width:100%" data-placeholder="Select project">
            <% selectableProjects.forEach(function(selectableProject) { %>
                <optiaapon value="<%= selectableProject.id %>"
                        <%= selectableProject.id === project.id ? 'selected' : ''%>>
                    <%= selectableProject.get('name') %>
                </option>
            <% }) %>
        </select>
        <input type="text" class="big" name="title" placeholder="Type your task title" tabindex="2" value="<%= title %>">
        <textarea name="description" placeholder="Type your task description" tabindex="3"><%= description %></textarea>
        <div class="issue-new-details">
            <select name="assignee" data-container-css="select2-selector--big" tabindex="4" style="width:25%" data-placeholder="Unassigned">
                <option></option>
                <% project.get('participants').forEach(function(participant) { %>
                    <option value="<%= participant.user.id %>">
                        <%= participant.user.first_name %> <%= participant.user.last_name %>
                    </option>
                <% }) %>
            </select>
            <select name="priority" class="select2-selector--big" tabindex="5" style="width:25%" data-placeholder="No priority">
                <option></option>
                <% project.get('issue_priorities').forEach(function(priority) { %>
                    <option value="<%= priority.id %>"><%= priority.name %></option>
                <% }) %>
            </select>
            <select name="type" class="select2-selector--big" tabindex="6" style="width:25%" data-placeholder="No type">
                <option></option>
                <% project.get('issue_types').forEach(function(type) { %>
                    <option value="<%= type.id %>"><%= type.name %></option>
                <% }) %>
            </select>
        </div>
    </form>
</script>
