<script type="text/html" id="issue-new-template">
    <form id="issue-new" method="POST" action="#">
        <div class="issue-new-actions">
            <button class="button">Cancel</button>
            <button class="button green" type="submit" tabindex="7">Done</button>
        </div>
        <% if(typeof(id) === 'undefined') { %>
            <select name="project" tabindex="1" style="width:100%" data-placeholder="Select project"></select>
        <% } else { %>
            <input name="id" type="hidden" value="<%= id %>">
        <% } %>
        <input type="text" class="big" name="title" placeholder="Type your task title" tabindex="2" value="<%= title %>">
        <textarea name="description" placeholder="Type your task description" tabindex="3"><%= description %></textarea>
        <div class="issue-new-details">
            <select name="assignee" data-container-css="select2-selector--big" tabindex="4" style="width:25%" data-placeholder="Unassigned"></select>
            <select name="priority" class="select2-selector--big" tabindex="5" style="width:25%" data-placeholder="No priority"></select>
            <select name="type" class="select2-selector--big" tabindex="6" style="width:25%" data-placeholder="No type"></select>
        </div>
    </form>
</script>
